{% include "header.html" %}

<body>

  <ul class = "navbar-vertical">
    <div class="container-nav">
      <img class="logo" src="/static/assets/CHR Photography-main.png">
    </div>

    <li><a href="{{url_for('home')}}">About Me</a></li>
    <li><a href="{{url_for('photography')}}">Photography</a></li>
    <li><a href="{{url_for('testimonials')}}">Testimonials</a></li>
    <li><a class="active" href="{{url_for('pet_photoshoot')}}">* Pet Photoshoot *</a></li>
    <li><a href="{{url_for('maternity_photoshoot')}}">* Maternity Photoshoot *</a></li>
    <li><a href="{{url_for('enquiries')}}">Make an enquiry</a></li>
    <div class="navbar-icon-div">

    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

    <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>

  </div>

  </ul>

  <div class="navbar-horizontal  sticky-top">

    <nav class="navbar navbar-expand-lg background-h-nav navbar-dark">
      <div class="container-fluid">
        <a class="mx-auto navbar-brand title-h-nav">CHR Photography</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" aria-current="page" href="{{url_for('home')}}">About Me</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('photography')}}">Photography</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('testimonials')}}">Testimonials</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav active" href="{{url_for('pet_photoshoot')}}">*Pet Photoshoot*</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('maternity_photoshoot')}}">*Maternity Photoshoot*</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('enquiries')}}">Make an enquiry</a>
            </li>
            <li class="mx-auto nav-item">
              <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

              <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

              <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>

  <section class="main-section">

<div class="container-flex-column">

  <img class="top-img" src="static/assets/photos/Dotty.jpg" alt="Pet Photo">

  <h1>Mini Pet Photoshoot </h1>
  <p>*November Only*</p>

    <div class="photoshoot-info">
  <p>
    <br>
    To celebrate the launch of my business I am offering a mini photoshoot of your pet for just £40.
   <br>
    <br>
    The shoot will:
    <ul>
  <li>Last approximately 45 minutes</li>
  <li>Be shot in an outdoor location (unless pet is a purely indoor dweller!)</li>
  <li>Include digital downloads of the best images</li>
  <li>Include option to purchase hard prints for a small fee</li>
</ul>
    <br>
  For more information, or to book, please get in touch via email or the enquiry form below.
  All bookings are made on a first come first, served basis, and payments will be required prior to the photoshoot.
   <br>
    <br>
  </p>

    </div>

      <div class="container-flex">

<a href="{{url_for('enquiries')}}"><button class="button-52">Make an enquiry</button></a>
</div>

</div>
    </div>



  </section>



    <div class="footer-container">

  <div class="footer">
    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>
    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>
  </div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</section>

</body>


</html>
