{% include "header.html" %}

<body>

  <ul class = "navbar-vertical">
    <div class="container-nav">
      <img class="logo" src="/static/assets/CHR Photography-main.png">
    </div>

    <li><a href="{{url_for('home')}}">About Me</a></li>
    <li><a class="active" href="{{url_for('photography')}}">Photography</a></li>
    <li><a href="{{url_for('testimonials')}}">Testimonials</a></li>
<!--    <li><a href="{{url_for('pet_photoshoot')}}">* Pet Photoshoot *</a></li>-->
<!--    <li><a href="{{url_for('maternity_photoshoot')}}">* Maternity Photoshoot *</a></li>-->
    <li><a href="{{url_for('enquiries')}}">Make an enquiry</a></li>
    <div class="navbar-icon-div">

    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

                    <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>

  </div>

  </ul>

  <div class="navbar-horizontal  sticky-top">

    <nav class="navbar navbar-expand-lg background-h-nav navbar-dark">
      <div class="container-fluid">
        <a class="mx-auto navbar-brand title-h-nav">CHR Photography</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" aria-current="page" href="{{url_for('home')}}">About Me</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav active" href="{{url_for('photography')}}">Photography</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('testimonials')}}">Testimonials</a>
            </li>
<!--            <li class="mx-auto nav-item">-->
<!--              <a class="nav-link link-h-nav" href="{{url_for('pet_photoshoot')}}">*Pet Photoshoot*</a>-->
<!--            </li>-->
<!--            <li class="mx-auto nav-item">-->
<!--              <a class="nav-link link-h-nav" href="{{url_for('maternity_photoshoot')}}">*Maternity Photoshoot*</a>-->
<!--            </li>-->
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('enquiries')}}">Make an enquiry</a>
            </li>
            <li class="mx-auto nav-item">
              <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

              <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

              <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>

  <div class="photo-selector-container">
  <div class="photo-selector" id="selector-div">
    <button id="all-btn"  class="photo-btn active-btn">All</button>
    <button id="lifestyle-btn"  class="photo-btn">Lifestyle</button>
    <button id="pets-btn"  class="photo-btn">Pets</button>
    <button id="product-btn" class="photo-btn">Product</button>
  </div>
</div>


  <div class="main-section">



    <div class="container-gallery gallery">


      <img class="close" src="static/assets/close4.png">

      <div>

                <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/watercompress.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

                <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/sofiacom2.jpg" alt="Sofia Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Sofiacom.jpg" alt="Sofia Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

       <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/jump2compress.jpg" alt="Jump Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/horsenosecompress.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/horsecompress.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/horseblack.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/gabicompress.jpg" alt="Gab Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/gabibucket2.jpg" alt="Gab Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/fredngab.jpg" alt="Fred Gab Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/freddad.jpg" alt="Fred Gary Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

               <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Fredcompressed.jpg" alt="Fred Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

       <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/fredcompress.jpg" alt="Fred Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/fredcom-2.jpg" alt="Fred Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/famshot.jpg" alt="Family Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/compressedjump.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/B&Whorsejpg.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/alicesofplay.jpg" alt="Alice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/AliceB&W.jpg" alt="Alice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Alice.jpg" alt="Alice Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="product gallery-img" src="static/assets/photos/1.jpg" alt="Sake bottle Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/Dotty.jpg" alt="Dog Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/Dottyderpy.jpg" alt="Dog Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>


        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/AutumngateEdit.jpg" alt="Autumn Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

                <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/eye2t.jpg" alt="Horse eye Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/scratch.jpg" alt="Pet Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>


        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/horse1.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle pet gallery-img" src="static/assets/photos/horse2.jpg" alt="Horse Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Familyshot.jpg" alt="Family Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Marnie&Sam.jpg" alt="Family Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle pet gallery-img" src="static/assets/photos/paulaEdit.jpg" alt="Paula Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/bubbles.jpg" alt="Bubbles Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Gabibeach.jpg" alt="Beach Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Gabicolour.jpg" alt="Gabi Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/Griff.jpg" alt="Pet Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/heart.jpg" alt="Heart Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="product gallery-img" src="static/assets/photos/kitchen1.jpg" alt="Kitchen Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="product gallery-img" src="static/assets/photos/kitchen2.jpg" alt="Kitchen Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/Lew.jpg" alt="Lewis Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/pregnant.jpg" alt="Pregnant Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="lifestyle gallery-img" src="static/assets/photos/TomB&W.jpg" alt="Portrait Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/Woody1.jpg" alt="Cat Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

                <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/Mabel1.jpg" alt="Dog Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

                        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/Mabelgate.jpg" alt="Dog Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>

                        <div class= "image-container">
          <img class="pet gallery-img" src="static/assets/photos/dog.jpg" alt="Dog Photo">
          <p class = "caption">This is a caption for the picture. You can have whatever you like here</p>
        </div>




      </div>

    </div>


  </div>

  <section>

  <div class="footer">
    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

    <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>
  </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="static/js/photography.js" charset="utf-8"></script>
</body>


</html>
