{% include "header.html" %}

<body>

  <ul class = "navbar-vertical">
    <div class="container-nav">
      <img class="logo" src="/static/assets/CHR Photography-main.png">
    </div>

    <li><a href="{{url_for('home')}}">About Me</a></li>
    <li><a href="{{url_for('photography')}}">Photography</a></li>
    <li><a class="active" href="{{url_for('testimonials')}}">Testimonials</a></li>
    <li><a href="{{url_for('pet_photoshoot')}}">* Pet Photoshoot *</a></li>
    <li><a href="{{url_for('maternity_photoshoot')}}">* Maternity Photoshoot *</a></li>
    <li><a href="{{url_for('enquiries')}}">Make an enquiry</a></li>
    <div class="navbar-icon-div">

    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

    <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>

  </div>

  </ul>

  <div class="navbar-horizontal  sticky-top">

    <nav class="navbar navbar-expand-lg background-h-nav navbar-dark">
      <div class="container-fluid">
        <a class="mx-auto navbar-brand title-h-nav">CHR Photography</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" aria-current="page" href="{{url_for('home')}}">About Me</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('photography')}}">Photography</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav active" href="{{url_for('testimonials')}}">Testimonials</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('pet_photoshoot')}}">*Pet Photoshoot*</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('maternity_photoshoot')}}">*Maternity Photoshoot*</a>
            </li>
            <li class="mx-auto nav-item">
              <a class="nav-link link-h-nav" href="{{url_for('enquiries')}}">Make an enquiry</a>
            </li>
            <li class="mx-auto nav-item">
              <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>

              <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>

              <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>

  <div class="testimonial-section">

    <div class="testimonials">
                  <h1>Testimonials</h1>
    </div>

        <div class="testimonial-card">

              <img class="testimonial-img" src="static/assets/Elle.jpeg">

            <div class="testimonial-card-copy">

         <p>"Working with Candice as a first-time mum and complete novice to posing for professional photos was so much
           fun! She made me feel at ease and has such an eye for the natural surroundings."

</p>
      <p class="testimonial-name">Elle</p>

        </div>



    </div>

    <div class="testimonial-card">


      <div id="blockA" class="testimonial-card-copy">

         <p>"Candy did a photoshoot of a kitchen that we designed and installed, she was really professional and
           understood the type of photos we wanted. The final photos were great and really looking forward to working
           with her again. Would highly recommend. Thanks so much!"
</p>
      <p id="blockB" class="testimonial-name">Angelika</p>

        </div>

          <img id="blockC"  class="testimonial-img" src="static/assets/angelika.jpeg">

    </div>





  </div>

  <section>

    <div class="footer-container">

  <div class="footer">
    <a href="mailto:candice.hudson@gmail.com?subject=Photography%20Enquiry" target="_blank"><i class="far fa-envelope navbar-icons"></i></a>
    <a href="https://www.instagram.com/candyhudsonrolfphotography/" target="_blank"><i class="fa-brands fa-instagram navbar-icons"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100085740314147" target="_blank"><i class="fa-brands fa-facebook navbar-icons"></i></a>
  </div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</section>

</body>


</html>
